body {
    background-color: #f7f4f4;
    font-size: 14px;
}

table {
    font-size: 14px;
}

.alert-close {
    height: 100%;
    margin-top: -5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.search-form {
    width: 80%;
    margin: 0 auto;
}